$mainTextColor: black;
$primaryTextColor: grey;
$mainFontFamily: Sans;
$primaryFontFamily: Roboto;

$mainBackgroundColor: white;
$secondaryBackgroundColor: pink;

$buttonMainColor: green;
$buttonPrimaryColor: red;
$buttonHoverColor: blue;
$buttonPrimaryHoverColor: yellow;

$mainHeadlineSizeDesktop: 32px;
$sectionHeadlineSizeDesktop: 24px;
$mainTextSizeDesktop: 18px;
$primaryTextSizeDesktop: 16px;

$mainHeadlineSizeTablet: 24px;
$sectionHeadlineSizeTablet: 18px;
$mainTextSizeTablet: 18px;
$primaryTextSizeTablet: 16px;

$mainHeadlineSizeMobile: 22px;
$sectionHeadlineSizeMobile: 16px;
$mainTextSizeMobile: 14px;
$primaryTextSizeMobile: 12px;